<link rel="stylesheet" href="css/pizza.css">
<section class="section container-fluid" ng-controller="HomeController as homeCtrl" data-ng-init="homeCtrl.loadPizzasOnStart()">
    <!-- nav tabs -->
    <div>
        <ul class="nav nav-tabs nav-justified">
            <!-- nav-justified -->
            <li><a showtab="" href="#pizzas">Pizzas    </a></li>
            <li><a showtab="" href="#bebidas">Bebidas   </a></li>
            <li><a showtab="" href="#sobremesas">Sobremesas</a></li>
        </ul>
    </div>
    <!-- nav tabs -->
    <!--  Filtro  -->
    <div class="row">
        <div class="col-xs-12">
            <form>
                <input type="text" ng-model='filtro' ng-model-options="{debounce: 500}" class='form-control' placeholder="Filtrar">
            </form>
        </div>
    </div>
    <!-- Tab Content -->
    <div class="tab-content">
        <!--  Menu Pizzas  -->
        <div class="row tab-pane fade" id="pizzas">
            <div class="painel-animado col-xs-10 col-sm-6 col-md-4 col-lg-4" ng-repeat="pizzas in homeCtrl.pizzaList | filter: filtro">
                <figure id="thumb" class="thumbnail">
                    <img ng-src="{{pizzas.Img}}" alt="{{pizzas.Nome}}">
                    <div class=" text-center">
                        <h3 class="nome-pizza">{{pizzas.Nome}}</h3>
                        <p>{{pizzas.Ingredientes}}</p>
                        <p><a href="#" class="btn btn-primary btn" role="button">Quero Essa!</a> </p>
                    </div>
                </figure>
            </div>
        </div>
        <!--  Menu Pizzas  -->
        <!--  Menu Bebidas  -->
        <div class="row tab-pane fade" id="bebidas">
            <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4" ng-repeat="bebidas in homeCtrl.bebidaList | filter: filtro">
                <figure id="thumb" class="thumbnail">
                    <img ng-src="{{bebidas.Img}}" alt="coca cola">
                    <div class="text-center">
                        <h3 class="nome-pizza">{{bebidas.Nome}}</h3>
                        <p>{{bebidas.Descricao}}</p>
                        <p><a href="#" class="btn btn-primary btn" role="button">Quero Essa!</a></p>
                    </div>
                </figure>
            </div>
        </div>
        <!--  Menu Bebidas  -->
        <!--  Menu Sobremesas  -->
        <div class="row tab-pane fade" id="sobremesas">
            <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4" ng-repeat="sobremesas in homeCtrl.sobremesaList | filter: filtro">
                <figure id="thumb" class="thumbnail ">
                    <img ng-src="{{sobremesas.Img}}" alt="coca cola">
                    <div class="text-center">
                        <h3 class="nome-pizza">{{sobremesas.Nome}}</h3>
                        <p>{{sobremesas.Descricao}}</p>
                        <p><a href="#" class="btn btn-primary btn" role="button">Quero Essa!</a></p>
                    </div>
                </figure>
            </div>
        </div>
        <!--  Menu Sobremesas  -->
    </div>
</section>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>