<section class="" ng-controller="HomeController as homeCtrl" data-ng-init="homeCtrl.loadPizzasOnStart();">
    <link rel="stylesheet" href="css/pizza.css">
    <div class="row">
        <div class="col-xs-12">
            <form class="input-group">
                <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-search"></span></div>
                <input id="filtro" type="text" ng-model='filtro' ng-model-options="{debounce: 500}" class='form-control' placeholder="Filtrar">
            </form>
        </div>
    </div>
    <!-- nav tabs -->
    <div>
        <ul class="nav nav-tabs">
            <!-- nav-justified -->
            <li><a showtab="" href="#pizzas">Pizzas    </a></li>
            <li><a showtab="" href="#bebidas">Bebidas   </a></li>
            <li><a showtab="" href="#sobremesas">Sobremesas</a></li>
        </ul>
    </div>
    <!-- nav tabs -->
    <!--  Filtro  -->
    <!--  Filtro  -->
    <div class="tab-content container"><br/>
        <!--  Menu Pizzas  -->
        <div class="tab-pane fade" id="pizzas">
            <div class="row" ng-repeat="pizzas in homeCtrl.pizzaList | filter: filtro">
                <div  class="col-xs-4 col-xs-offset-1" id="imgPizzas" style="background-image: url({{pizzas.img}})"></div>
                <div align="center" class="text-center col-xs-6 ">
                    <h3 class="nome-pizza">{{pizzas.nome}}</h3>
                    <button id="btnIngredientes" class="btn btn-default">ingredientes</button>
                    <p><a href="#" class="btn btn-primary btn" role="button">Quero Essa!</a></p>
                </div>

            </div>
        </div>
        <!-- Menu Pizzas -->
        <!-- Menu Bebidas -->
        <div class="row tab-pane fade" id="bebidas">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-4 col-lg-4" ng-repeat="bebidas in homeCtrl.bebidaList | filter: filtro">
                <figure id="thumb" class="thumbnail">
                    <img ng-src="{{bebidas.img}}" alt="{{bebidas.nome}}">
                    <div class="text-center">
                        <h3 class="nome-pizza">{{bebidas.nome}}</h3>
                        <p>{{bebidas.descricao}}</p>
                        <p><a href="#" class="btn btn-primary btn" role="button">Quero Essa!</a></p>
                    </div>
                </figure>
            </div>
        </div>
        <!-- Menu Bebidas -->
        <!-- Menu Sobremesas  -->
        <div class="row tab-pane fade" id="sobremesas">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-4 col-lg-4" ng-repeat="sobremesas in homeCtrl.sobremesaList | filter: filtro">
                <figure id="thumb" class="thumbnail ">
                    <img ng-src="{{sobremesas.img}}" alt="{{sobremesas.nome}}">
                    <div class="text-center">
                        <h3 class="nome-pizza">{{sobremesas.nome}}</h3>
                        <p>{{sobremesas.descricao}}</p>
                        <p><a href="#" class="btn btn-primary btn" role="button">Quero Essa!</a></p>
                    </div>
                </figure>
            </div>
        </div>
        <!-- Menu Sobremesas -->
    </div>
    <!--</div>-->
</section>
