    .thumbnail {
        background-image: linear-gradient(to top, #550000, #550000)
    }
    
    .nome-pizza {
        width: 100%;
        /*    border-radius: 100px;*/
        color: darkred;
    }
    
    .thumbnail p {
        color: white;
    }
    
    .thumbnail h3 {
        color: white;
    }
    
    #thumb img {
        margin-top: auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    #thumb p {
        font-size: 1.2em;
    }
    
    #thumb {
        border-radius: 100px;
    }
    
    .painel-animado.ng-leave-active {
        transform: scale(0.1);
    }
    
    .painel-animado {
        transition: transform 0.5s;
    }
    
    html {
        background-color: #D30000;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: 100%;
        margin-right: 0px;
    }
    
    body {
        background-image: linear-gradient(to bottom, #670000, #D30000);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    
    .nav {
        background-color: white;
    }
    
    #nav {
        margin-bottom: 5px;
        border-radius: 0px;
    }
    
    #filtro {
        border-radius: 0px;
    }
    
    table {
        background-color: white;
    }
    
    #divContato {
        color: white;
    }
    
    #logo {
        width: 50%;
        height: auto;
        margin-bottom: 5%;
    }
       
    #painel {
        background-color: rgb(219, 219, 219);
        border-radius: 50px 50px 00px 00px;
        box-sizing: border-box;
        box-shadow: 5px 5px 0px #000;
    }

    .itensParaComprar {
        background-color: beige;
        border-radius: 10px;
    }
    
    .imgItens {
        padding: 60px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #btnIngredientes {
        margin-bottom: 10px;
    }
    
    #badge {
        border-radius: 0px;
        background-color: white;
        color: black;
    }

/*toast*/
#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}
.toast {
  border-radius: 2px;
  top: 0;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: #449d44;
  padding: 10px 25px;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toast .btn, .toast .btn-large, .toast .btn-flat {
  margin: 0;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 24px;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .toast {
    float: left;
  }
}

@media only screen and (min-width: 993px) {
  .toast {
    float: right;
  }
}
