.thumbnail {
    /*    background-color: #e51937;*/
/*    background-color: white;*/
    background-image: linear-gradient(to top, #550000, #550000)
}

.nome-pizza {
    background-color: #C83D3D;
    width: 100%;
    border-radius: 100px;
}

.thumbnail p {
    color: black;
}
.thumbnail h3 {
    color: white;
}

#thumb img {
    margin-top: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
   
}

#thumb p {
    font-size: 1.2em;
}

#thumb {
    border-radius: 100px;
}

.painel-animado.ng-leave-active {
    transform: scale(0.1);
}

.painel-animado {
    transition: transform 0.5s;
}
body{
    background-color: darkred;
}
.nav{
    background-color: white;
   
}
#nav{
    margin-bottom: 5px;
    border-radius: 0px;
}
#filtro{
    border-radius: 0px;
}
