body {
    background-image: linear-gradient(to bottom, #670000, #AB0200);
    background-repeat: no-repeat;
    background-size: cover;
}

#quemSomos {}

h1 {
    text-align: center;
    font-family: serif;
    font-size: 3em;
    color: rgba(255, 250, 240, 0.7);
    margin-top: 5%;
}

p {
    font-family: serif;
    font-size: 1em;
    color: rgba(255, 250, 240, 0.7);
    margin: 0 0 10px 10px;
}
