body{
    background-color: #935a55;
    width: 100%;
    height: 100%;
   

}

#quemSomos{

     background-color: #935a55;

}

h1{
    text-align: center;
    font-family: serif;
    font-size: 3em;
    color:rgba(255,250,240,0.7);
    margin-top: 18%;
}

p{
    font-family: serif;
    font-size: 1em;
    color:rgba(255,250,240,0.7);
    margin: 0 0 10px 10px;

}
